body {
    background-image: url("../images/cats.png");
    color: white;
    text-align: center;
    align-content: center;  

}

.wrapper {
    display: inline-block;
    padding: 150px;
}

.trivia-card {
    background-color: #feff9c;
    width: 620px;
    height: 620px;
    border: #383428;
    /* box-shadow: 5px 5px rgb(82, 82, 82); */
}

#title, #timer, #question, #answer {
    color: #383428;
    font-family: 'Gloria Hallelujah', cursive;
}

#title {
    align-self: auto;
    padding: 50px 25px 20px 25px;
}
#timer {
    float: 0;
    padding: 30px 0px 0px 0px;
}

#question {
    padding: 0px 0px 10px 0px;
}

.container {
    float: center;
}

#answer {
    font-size: 16px;
    float: auto;
}

.btn {
    border: none;
    background-color: #feff9c;  
    color: #383428;
    padding: 20px;

}

#next {
    padding: 0px;
}

h1 {
    font-size: 50px;
}

h3 {
    /* font-size: 16px; */
}